body {
    margin: 0;
    min-height: 100vh; /* Garante que pelo menos 100% da altura da tela seja usada */
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #22a844, #2a65d3);
    background-repeat: no-repeat;
    background-attachment: fixed; /* Mantém o fundo fixo */
    color: #333;
}

.header {
    text-align: center;
    padding: 2rem 1rem 1rem;
    color: white;
}

main {
   
    padding: 2rem 1rem;
    text-align: center;
}

.title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: #ffffff;
}

.diets-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 1.5rem;
    width: 220px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
}

.card h3 {
    margin: 1rem 0 0.5rem;
    font-size: 1.2rem;
}

.card p {
    font-size: 0.95rem;
    color: #333;
    margin-bottom: 1rem;
}

.card span {
    font-size: 0.85rem;
    color: #0261cc;
    font-weight: 500;
}

.circle {
    width: 40px;
    height: 40px;
    margin: 0 auto 10px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.card.mediterranea:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card.mediterranea {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.card.lowcarb:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card.lowcarb {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.card.cetogenica:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card.cetogenica {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.card.vegetariana:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card.vegetariana {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.mediterranea .circle { background: #3b82f6; }
.lowcarb .circle { background: #22c55e; }
.cetogenica .circle { background: #a855f7; }
.vegetariana .circle { background: #f97316; }

.rodape{
    margin-top: 30px;
}

.rodape p{
    color: #FFFFFF;
}
